*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
*{
    color: inherit;
    text-decoration: none;

}
.Medsos {
    padding: 5px 0;
    background-color: skyblue;
}
.Medsos ul li {
    display: inline-block;
    color: whitesmoke;
    margin-right: 10px;
}
.container {
    width: 80%; 
}

.container::after {
   content: '';
   display: block;
   clear: both; 
}
header h1 {
    float: left; 
    padding: 15px 0;
    color: skyblue;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li {
    padding: 20px 25px;
    display: inline-block;
}
header ul li a:hover{
    background-color: skyblue;
    color: whitesmoke;
}
.aktif {
    background-color: skyblue;
    color: whitesmoke;
}
.banner {
    height: 60vh;
    background-image: url('../image/Background.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(135, 206, 235, .6);
}
.banner h2 {
    color: whitesmoke;
    z-index: 1;
    padding: 20px 25px;
    border: 5px solid whitesmoke;
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color: skyblue;
    margin-bottom: 20px;
}

.box {
    color: skyblue;
} 
.box::after {
    content:'';
    display: block;
    clear: both;
}
.box .kolom {
    width: 25%;
    padding: 20px;
    box-sizing: border-box; 
    text-align: center;
    float: left;
}
.icon {
    width:100px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
}
.box .kolom h4 {
    margin: 10px 0;
    margin: 0 auto;
    
}
footer {
    padding: 30px 0;
    background-color: skyblue;
    color: whitesmoke;
    text-align: center;
}
.label {
    background-color: skyblue;
    color: whitesmoke;
}
section h6 {
    text-align: center;
    padding: 20px 0;
    color: skyblue;

}

.produk {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.produk p {
    color: black;
    text-align: center;
}
.row_produk { 
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.row { 
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.Laptop {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.Laptop img:hover {
    background-color: skyblue;
  }
  
.Laptop img{
    width: 100%;
    border-radius: 10px;
}
.abt img {
    width: 100%;
    border-radius: 20px;
    text-align: right;
}
.Laptop p{
    padding: 0;
    color: skyblue;
    text-align: center;
}
.Laptop h4 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.abt p {
    color: black;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
}

.bg-loader {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50%;
    border-top-color: skyblue;
    border-right-color: skyblue;
    border-bottom-color: skyblue;
    border-left-color: skyblue;
    animation: spinn .5s linear infinite;
}
@keyframes spinn {
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

header h1 {
    text-align: center;
    float: none;
    }
header ul {
    text-align: center;
    float: none;
    }
}   